<!DOCTYPE html>
<html>
<head>
  <title>Protospace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <div class="navbar navbar-default navbar-static-top navbar-fixed-top">
    <div class="container">
        <button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
        <img alt="PROTO TYPE - SHARE THE PROTOTYPE" height="36px" src="/assets/logo-b99f177af8fb82de2d6d7b86e95c7f329d3d143edd8b225bc2875ad9dd6e0cc3.png">
        </a>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">kota
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="/users/46">My Page</a>
              </li>
              <li>
                <a href="/users/46/edit">Profile Edit</a>
              </li>
              <li>
                <a rel="nofollow" data-method="delete" href="/users/sign_out">Logout</a>
              </li>
            </ul>
            </li>
            <li>
            <div class="btn btn-primary navbar-btn">
            <a href="/prototypes/new">New Proto</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<body>

<%= yield %>

</body>
</html>
